.bootstrapTableStyle {
  table-layout: auto !important;
  background-color: whitesmoke;
  width: 100%;
}

.react-bootstrap-table {
  width: 100%;
}

thead th {
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

tbody td {
  font-size: 14px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

tbody tr:nth-child(even) {
  background-color: #c4c4c4;
}
